<div class="row align-items-end justify-content-center mb-5">
    <img src="/images/calendar.png" alt="logo" class="logo img-fluid mr-3">
    <a href="/">
    <h1 class="display-2 text-center name">Schedeo</h1>
    </a>
</div>

<form method="POST" class="form-group">
  {{> signuppartial }}
</form>
