<div class="container d-flex flex-column mt-5">
  <div class="row d-flex flex-column mt-5">  
    <div class="row justify-content-center mt-5">
      <div class="col align-self-center mt-5">
        <div class="row align-items-end justify-content-center mb-5">
            <img src="/images/calendar.png" alt="logo" class="logo img-fluid mr-3">
            <h1 class="display-2 text-center name">Schedeo</h1>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-5 d-flex flex-column align-self-center">
        <a href="/authentication/sign-in" class="btn btn-outline-dark btn-lg m-2">Sign In</a>
        <a href="/authentication/sign-up" class="btn btn-outline-dark btn-lg m-2">Sign Up</a>
      </div>
    </div>
  </div>
</div>