  <nav class="inside-nav">
    <a href="/event/create" class="btn btn-secondary create-btn">Create a new event</a>
    <a href="/event/myevents">My events</a>
    <a href="/profile" class="align-self-center">Profile</a>
  </nav>