  <nav class="navbar navbar-light">
    <div class="align-self-start">
    <a href="/">All events</a>
    <a href="/event/myevents">My events</a>
    </div>
    <a href="/event/create" class="btn btn-secondary" id="create">Create a new event</a>
  </nav>