  <nav class="navbar navbar-light">
    <div class="align-self-start">
    <a id="all-events-link" class="btn btn-outline-light text-grey" href="/">All events</a>
    <a id="my-events-link" class="btn btn-outline-light text-grey" href="/event/myevents">My events</a>
    </div>
    <a href="/event/create" class="btn orange text-white" id="create">Create a new event</a>
  </nav>
