<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Schedeo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
  {{#if user}}
    <nav class="navbar navbar-light" style="background-color: #E9ECEF;">
      <div class="align-self-start">
        <a href="/">{{user.name}}'s Events</a>
        <a href="/profile">Profile</a>
      </div>
        <form action="/authentication/sign-out" method="POST" class="align-self-end">
          <button class="btn btn-danger">Sign Out</button>
        </form>
    </nav>
  {{/if}}
      <div class="container">
        {{{body}}}
      </div>
      <script src="/scripts/script.js"></script>
  </body>
</html>
