<h2 class="mb-3 mt-2">Profile</h2>

<form method="POST" class="form-group">
  <label for="input-name" class="text-grey">Name</label>
  <input class="form-control mb-2"
    id="input-name"
    type="text"
    placeholder="Name"
    name="name"
    value="{{ user.name }}"
  >

  <label for="input-email" class="text-grey">Email</label>
  <input class="form-control mb-2"
    id="input-email"
    type="email"
    placeholder="Email"
    name="email"
    value="{{ user.email }}"
  >
  <div class="align-self-center">
    <button class="btn btn-outline-dark mt-3">Edit Profile</button>
  </div>
</form>
