<form method="POST" class="form-group">
  <label for="input-name">Name</label>
  <input class="form-control"
    id="input-name"
    type="text"
    placeholder="Name"
    name="name"
    value="{{ user.name }}"
  >

  <label for="input-email">Email</label>
  <input class="form-control"
    id="input-email"
    type="email"
    placeholder="Email"
    name="email"
    value="{{ user.email }}"
  >
  <div class="align-self-center">
    <button class="btn btn-outline-dark mt-3">Edit Profile</button>
  </div>
</form>
