<nav class="navbar navbar-light">
  <a class="btn btn-light" href="/event/{{ event._id }}">Back</a>
</nav>



<div class="mt-3 mb-5">
  <p class="p-tasks">What days work for who?</p>
<div style="display: flex">
  {{#each event.dates }}
  <div>
    <div class="card mr-2 mb-2" style="width: 12rem; display: block;">
      <div class="card-header text-dark">
        {{ dateHelper date "DD/MM/YYYY" }}
      </div>
      <ul class="list-group list-group-flush">
        {{#each voters}}
          <li class="list-group-item text-secondary">{{ name }}</li>
        {{/each}}
      </ul>
      <div class="card-footer text-dark">
        Total: {{ votes }}
      </div>
    </div>
  </div>
  {{/each}}
</div>
</div>