<h2>Create a new event</h2>

<form action="/event/create" method="POST" enctype="multipart/form-data">
  <label for="input-name">Event Name</label>
  <input type="text" id="input-name" name="name" placeholder="Event Name" />

  <label for="input-Location">Location</label>
  <input type="text" id="input-location" name="location" placeholder="Event Location" />

  <label for="input-description">Description</label>
  <input type="text" name="description" id="input-description" placeholder="Event Description" />

  <label for="input-file">Image</label>
  <input type="file" name="image" id="input-image" placeholder="Event Image">

  <div id="inputFormRow">
    <div class="input-group mb-3">
      <input type="date" name="date[]" class="form-control m-input">
      <div class="input-group-append">                
        <button id="removeRow" type="button" class="btn btn-danger">Remove</button>
      </div>
    </div>
  </div>
  <div id="newRow"></div>
  <button id="addRow" type="button" class="btn btn-info">Add a Date</button>

  <button>Create Event</button>
</form>

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
