<nav>
  <a href="/event/create">Create a new event</a>
  <a href="/profile">Profile</a>
</nav>

{{!-- List of all of the users events --}}
<div>
  {{#each events}}
  <article>
    <a href="/event/{{ _id }}">
    <h2>{{ name }}</h2>
    <p>{{ description }}</p>
    <span>{{ location }}</span>
    </a>
  </article>
  {{/each}}
</div>

