<nav>
  <a href="/events/create">Create a new event</a>
  <a href="/profile">Profile</a>
</nav>

{{!-- List of all of the users events --}}
<div>
  <a href="/events/{{id}}">
  <h2>Event Name</h2>
  <p>Description</p>
  <span>Location</span>
  </a>
</div>